extends layout 

block content 
  div(class='container-fluid bg-light content-container')
    div(class='row')
      div(class='col-sm-8 content')
        h1=title
        form(method='POST' action='')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text' placeholder='Name of category', name='name', value=(category===undefined? '': category.name), required=true)
          div.form-group
            label(for='description') Description:
            textarea#description.form-control(type='textarea', placeholder='Description', name='description', required=true) #{category == undefined? '': category.description}
          button.btn.btn-dark.submit-btn(type='submit') Submit

        if errors 
          ul 
            for err in errors 
              li(style='color: red', class='list-item')!= err.msg